<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional meta tags -->
    <meta name="description" content="Free languages courses">
    <meta name="keywords" content="Idionative,Spanish,English,Japanese,German">
    <meta name="author" content="Víctor Sánchez">
    <meta name="google-site-verification" content="eahimjmKLeg2VbIqrHoxqZXQ2SrFuKb7ttlBxzPVYwc"/>

    <link rel="icon" href="{% static "assets/logo.png" %}">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    {% if template == "course" %}
        <link rel="stylesheet" href="{% static "css/course.css" %}">
    {% endif %}

    <title>Idionative · Home</title>
</head>
<body>
<nav id="topnav" class="navbar navbar-expand-xl navbar-dark fixed-top {% if template == "course" %}bg-dark{% endif %}">
    <div class="container">
        <a class="navbar-brand mr-auto" href="">
            <img src="{% static "assets/logo.png" %}" alt="logo" style="width: 64px"> Idionative
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Desplegar menú">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="{% url 'home' %}" class="nav-link" lang="{{ LANGUAGE_CODE }}">{% trans "Home" %}</a>
                </li>
                {% if template == "home" %}
                    <li class="nav-item">
                        <a href="#courses" class="nav-link" lang="{{ LANGUAGE_CODE }}">{% trans "Courses" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#dictionary" class="nav-link" lang="{{ LANGUAGE_CODE }}">{% trans "Dictionary" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#news" class="nav-link" lang="{{ LANGUAGE_CODE }}">{% trans "News" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link" lang="{{ LANGUAGE_CODE }}">{% trans "Log in/Sign up" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languages" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" lang="{{ LANGUAGE_CODE }}">
                        {% trans "Change language" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languages">
                        <a class="dropdown-item" href="http://idionative.sytes.net/en/" lang="{{ LANGUAGE_CODE }}">{% trans "English" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/es/" lang="{{ LANGUAGE_CODE }}">{% trans "Spanish" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/de/" lang="{{ LANGUAGE_CODE }}">{% trans "German" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/ja/" lang="{{ LANGUAGE_CODE }}">{% trans "Japanese" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/pt/" lang="{{ LANGUAGE_CODE }}">{% trans "Portuguese" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/gl/" lang="{{ LANGUAGE_CODE }}">{% trans "Galician" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/ko/" lang="{{ LANGUAGE_CODE }}">{% trans "Korean" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/nl/" lang="{{ LANGUAGE_CODE }}">{% trans "Dutch" %}</a>
                        <a class="dropdown-item" href="http://idionative.sytes.net/vi/" lang="{{ LANGUAGE_CODE }}">{% trans "Vietnamese" %}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Optional Javascript -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="{% static "js/custom.js" %}"></script>
</body>
</html>