{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <main class="container">

        <header class="row course-header">
            <div class="col-12">
                {% if course != None %}
                    <h1>{{ course }}</h1>
                    <p><em>{{ course.description }}</em></p>
                {% else %}
                    <h1>This course doesn't exist.</h1>
                {% endif %}
            </div>
        </header>
        {% if course != None %}
            <section class="row course-units">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h3>Units of this course</h3>
                        </div>
                    </div>
                    <div class="row units-list">
                        <div class="col-12">
                            {% if units != None %}
                                {% for unit in units %}
                                    <div class="card"
                                       style="width: 100%">
                                        <div class="card-header" >
                                            <h5 class="card-title">{{ unit.pk }}. {{ unit.title }}</h5>
                                            <h6 class="card-subtitle">{{ unit.description }}</h6>
                                        </div>
                                        <div class="card-body">
                                            <ul>
                                                {% for page in pages %}
                                                    {% if page.unit.pk == unit.pk and unit.course.pk == course.pk %}
                                                        <li><a href="{% url 'page' coursepk=course.pk unitpk=unit.pk pagepk=page.pk %}">{{ page.title }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>There aren't any units in this course yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}