@charset "utf-8";

.course-header {
    margin-top: 8em;
}

.course-units .card {
    margin: 1em 0;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    color: black;
}

.course-units .card:hover {
    color: black;
    text-decoration: none;
}

/*.units-list .card ul {
    padding-inline-start: 0;
}*/

.units-list .card li {
    list-style-type: none;
}