@charset "utf-8";

#topnav {
    background-color: #668586 !important;
}

.page-header {
    margin-top: 8em;
    margin-bottom: 2em;
}

.page-header h1 {
    margin-bottom: .5em;
}

.unit-info .card-body ul {
    padding-inline-start: 0;
}

.unit-info .card-body li {
    list-style-type: none;
}

.unit-info .card-body .active {
    font-weight: bolder;
    color: #2B2D42;
}