@charset "utf-8";

.page-header {
    margin-top: 8em;
}

.page-header h1 {
    margin-bottom: .5em;
}

.page-header h2 {
    margin-bottom: .5em;
}

.unit-info .card ul {
    padding-inline-start: 0;
}

.unit-info .card li {
    list-style-type: none;
}

.page-content {
    margin-top: 1em;
}